In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import datetime as dt


file_accepted = "accepted_2007_to_2018Q4.csv"

# Read Purchasing File and store into Pandas data frame
acc_data = pd.read_csv(file_accepted)

C:\Users\ehoag\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (0,19,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
acc_data

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,72663394,NaN,14400.0,14400.0,14400.0,36 months,16.29,508.33,D,D1,...,NaN,NaN,Cash,Y,May-18,COMPLETE,Apr-17,5510.0,42.58,12.0
1048571,72673678,NaN,10000.0,10000.0,10000.0,36 months,11.47,329.62,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1048572,72663353,NaN,16000.0,16000.0,16000.0,36 months,10.75,521.93,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1048573,72785737,NaN,6000.0,6000.0,6000.0,36 months,7.89,187.72,A,A5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1048574,72573375,NaN,1000.0,1000.0,1000.0,36 months,6.49,30.65,A,A2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#check names of all columns in the data to begin clean up
for col in acc_data.columns:
    print (col)

id
member_id
loan_amnt
funded_amnt
funded_amnt_inv
term
int_rate
installment
grade
sub_grade
emp_title
emp_length
home_ownership
annual_inc
verification_status
issue_d
loan_status
pymnt_plan
url
desc
purpose
title
zip_code
addr_state
dti
delinq_2yrs
earliest_cr_line
fico_range_low
fico_range_high
inq_last_6mths
mths_since_last_delinq
mths_since_last_record
open_acc
pub_rec
revol_bal
revol_util
total_acc
initial_list_status
out_prncp
out_prncp_inv
total_pymnt
total_pymnt_inv
total_rec_prncp
total_rec_int
total_rec_late_fee
recoveries
collection_recovery_fee
last_pymnt_d
last_pymnt_amnt
next_pymnt_d
last_credit_pull_d
last_fico_range_high
last_fico_range_low
collections_12_mths_ex_med
mths_since_last_major_derog
policy_code
application_type
annual_inc_joint
dti_joint
verification_status_joint
acc_now_delinq
tot_coll_amt
tot_cur_bal
open_acc_6m
open_act_il
open_il_12m
open_il_24m
mths_since_rcnt_il
total_bal_il
il_util
open_rv_12m
open_rv_24m
max_bal_bc
all_util
total_rev_hi_lim
inq_fi
total_cu_tl
inq_last_12m
acc_open_past_24mths
avg_cur_bal
bc_open_to_buy
bc_util
chargeoff_within_12_mths
delinq_amnt
mo_sin_old_il_acct
mo_sin_old_rev_tl_op
mo_sin_rcnt_rev_tl_op
mo_sin_rcnt_tl
mort_acc
mths_since_recent_bc
mths_since_recent_bc_dlq
mths_since_recent_inq
mths_since_recent_revol_delinq
num_accts_ever_120_pd
num_actv_bc_tl
num_actv_rev_tl
num_bc_sats
num_bc_tl
num_il_tl
num_op_rev_tl
num_rev_accts
num_rev_tl_bal_gt_0
num_sats
num_tl_120dpd_2m
num_tl_30dpd
num_tl_90g_dpd_24m
num_tl_op_past_12m
pct_tl_nvr_dlq
percent_bc_gt_75
pub_rec_bankruptcies
tax_liens
tot_hi_cred_lim
total_bal_ex_mort
total_bc_limit
total_il_high_credit_limit
revol_bal_joint
sec_app_fico_range_low
sec_app_fico_range_high
sec_app_earliest_cr_line
sec_app_inq_last_6mths
sec_app_mort_acc
sec_app_open_acc
sec_app_revol_util
sec_app_open_act_il
sec_app_num_rev_accts
sec_app_chargeoff_within_12_mths
sec_app_collections_12_mths_ex_med
sec_app_mths_since_last_major_derog
hardship_flag
hardship_type
hardship_reason
hardship_status
deferral_term
hardship_amount
hardship_start_date
hardship_end_date
payment_plan_start_date
hardship_length
hardship_dpd
hardship_loan_status
orig_projected_additional_accrued_interest
hardship_payoff_balance_amount
hardship_last_payment_amount
disbursement_method
debt_settlement_flag
debt_settlement_flag_date
settlement_status
settlement_date
settlement_amount
settlement_percentage
settlement_term

In [6]:
#drop all nonessential columns (from 150 columns to 27)
loans_df = acc_data[['id','loan_amnt', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'purpose', 'addr_state', 'dti', 'earliest_cr_line', 'fico_range_low', 'fico_range_high', 'application_type', 'hardship_flag', 'pub_rec_bankruptcies','tax_liens', 'disbursement_method', 'debt_settlement_flag']]
loans_df

,id,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,...,dti,earliest_cr_line,fico_range_low,fico_range_high,application_type,hardship_flag,pub_rec_bankruptcies,tax_liens,disbursement_method,debt_settlement_flag
0,68407277,3600.0,36 months,13.99,123.03,C,C4,leadman,10+ years,MORTGAGE,...,5.91,Aug-03,675.0,679.0,Individual,N,0.0,0.0,Cash,N
1,68355089,24700.0,36 months,11.99,820.28,C,C1,Engineer,10+ years,MORTGAGE,...,16.06,Dec-99,715.0,719.0,Individual,N,0.0,0.0,Cash,N
2,68341763,20000.0,60 months,10.78,432.66,B,B4,truck driver,10+ years,MORTGAGE,...,10.78,Aug-00,695.0,699.0,Joint App,N,0.0,0.0,Cash,N
3,66310712,35000.0,60 months,14.85,829.90,C,C5,Information Systems Officer,10+ years,MORTGAGE,...,17.06,Sep-08,785.0,789.0,Individual,N,0.0,0.0,Cash,N
4,68476807,10400.0,60 months,22.45,289.91,F,F1,Contract Specialist,3 years,MORTGAGE,...,25.37,Jun-98,695.0,699.0,Individual,N,0.0,0.0,Cash,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,72663394,14400.0,36 months,16.29,508.33,D,D1,Purchasing manager,10+ years,RENT,...,33.76,Nov-03,675.0,679.0,Individual,N,0.0,0.0,Cash,Y
1048571,72673678,10000.0,36 months,11.47,329.62,B,B5,E6,10+ years,MORTGAGE,...,26.41,Oct-03,665.0,669.0,Individual,N,0.0,0.0,Cash,N
1048572,72663353,16000.0,36 months,10.75,521.93,B,B4,Consultant,< 1 year,MORTGAGE,...,21.67,May-90,710.0,714.0,Individual,N,0.0,0.0,Cash,N
1048573,72785737,6000.0,36 months,7.89,187.72,A,A5,Administrative Assistant,6 years,MORTGAGE,...,25.98,Mar-89,715.0,719.0,Individual,N,0.0,0.0,Cash,N
1048574,72573375,1000.0,36 months,6.49,30.65,A,A2,TEACHER,10+ years,MORTGAGE,...,8.33,Oct-98,755.0,759.0,Individual,N,1.0,0.0,Cash,N

In [7]:
#check datatype of certain columns
columnpDatatype = acc_data.dtypes['id']
print(columnpDatatype)

object

In [19]:
#drop rows with NaaN value left with ~2 million rows
loans_df.dropna(how='any')

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,dti,earliest_cr_line,fico_range_low,fico_range_high,application_type,hardship_flag,pub_rec_bankruptcies,tax_liens,disbursement_method,debt_settlement_flag
0,68407277,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,leadman,...,5.91,Aug-2003,675.0,679.0,Individual,N,0.0,0.0,Cash,N
1,68355089,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,Engineer,...,16.06,Dec-1999,715.0,719.0,Individual,N,0.0,0.0,Cash,N
2,68341763,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,truck driver,...,10.78,Aug-2000,695.0,699.0,Joint App,N,0.0,0.0,Cash,N
3,66310712,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,Information Systems Officer,...,17.06,Sep-2008,785.0,789.0,Individual,N,0.0,0.0,Cash,N
4,68476807,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,Contract Specialist,...,25.37,Jun-1998,695.0,699.0,Individual,N,0.0,0.0,Cash,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260694,89885898,24000.0,24000.0,24000.0,60 months,12.79,543.50,C,C1,Unit Operator,...,19.61,Dec-1999,665.0,669.0,Individual,N,0.0,0.0,Cash,N
2260695,88977788,24000.0,24000.0,24000.0,60 months,10.49,515.74,B,B3,Database Administrator,...,34.94,Feb-1991,695.0,699.0,Individual,N,0.0,1.0,Cash,N
2260696,88985880,40000.0,40000.0,40000.0,60 months,10.49,859.56,B,B3,Vice President,...,12.75,Feb-1995,705.0,709.0,Individual,N,0.0,0.0,Cash,N
2260697,88224441,24000.0,24000.0,24000.0,60 months,14.49,564.56,C,C4,Program Manager,...,18.30,Jul-1999,660.0,664.0,Individual,N,1.0,0.0,Cash,Y
2260698,88215728,14000.0,14000.0,14000.0,60 months,14.49,329.33,C,C4,Customer Service Technician,...,23.36,Jun-1996,660.0,664.0,Individual,N,0.0,0.0,Cash,N

In [13]:
loans_df.to_csv('clean_loans.csv')

In [14]:
loans_df['loan_status'].unique()

array(['Fully Paid', 'Current', 'Charged Off', 'In Grace Period',
       'Late (31-120 days)', 'Late (16-30 days)', 'Default', nan],
      dtype=object)

In [15]:
loans_filtered=loans_df[(loans_df['loan_status'] == 'Fully Paid') | (loans_df['loan_status'] == 'Charged Off')]

In [16]:
loans_filtered['loan_status'].unique()

array(['Fully Paid', 'Charged Off'], dtype=object)

In [17]:
loans_filtered

,id,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,...,dti,earliest_cr_line,fico_range_low,fico_range_high,application_type,hardship_flag,pub_rec_bankruptcies,tax_liens,disbursement_method,debt_settlement_flag
0,68407277,3600.0,36 months,13.99,123.03,C,C4,leadman,10+ years,MORTGAGE,...,5.91,Aug-03,675.0,679.0,Individual,N,0.0,0.0,Cash,N
1,68355089,24700.0,36 months,11.99,820.28,C,C1,Engineer,10+ years,MORTGAGE,...,16.06,Dec-99,715.0,719.0,Individual,N,0.0,0.0,Cash,N
2,68341763,20000.0,60 months,10.78,432.66,B,B4,truck driver,10+ years,MORTGAGE,...,10.78,Aug-00,695.0,699.0,Joint App,N,0.0,0.0,Cash,N
4,68476807,10400.0,60 months,22.45,289.91,F,F1,Contract Specialist,3 years,MORTGAGE,...,25.37,Jun-98,695.0,699.0,Individual,N,0.0,0.0,Cash,N
5,68426831,11950.0,36 months,13.44,405.18,C,C3,Veterinary Tecnician,4 years,RENT,...,10.20,Oct-87,690.0,694.0,Individual,N,0.0,0.0,Cash,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,72663394,14400.0,36 months,16.29,508.33,D,D1,Purchasing manager,10+ years,RENT,...,33.76,Nov-03,675.0,679.0,Individual,N,0.0,0.0,Cash,Y
1048571,72673678,10000.0,36 months,11.47,329.62,B,B5,E6,10+ years,MORTGAGE,...,26.41,Oct-03,665.0,669.0,Individual,N,0.0,0.0,Cash,N
1048572,72663353,16000.0,36 months,10.75,521.93,B,B4,Consultant,< 1 year,MORTGAGE,...,21.67,May-90,710.0,714.0,Individual,N,0.0,0.0,Cash,N
1048573,72785737,6000.0,36 months,7.89,187.72,A,A5,Administrative Assistant,6 years,MORTGAGE,...,25.98,Mar-89,715.0,719.0,Individual,N,0.0,0.0,Cash,N
1048574,72573375,1000.0,36 months,6.49,30.65,A,A2,TEACHER,10+ years,MORTGAGE,...,8.33,Oct-98,755.0,759.0,Individual,N,1.0,0.0,Cash,N